
@section title {

        <h1>ByteBay Forums</h1>
}

        <p>Welcome to ByteBay Forum, where nerds meet nerds to geek out on super nerdy stuff</p>
        <a asp-controller="categories" asp-action="index">View Discussion Categories</a>

